$webServiceSlideHeight: 60rem

@import url('./main.css');
@import url('./nav.css');
@import url('./footer.css');
@import url('./cart.css');

\:root
    --textColor: #fff
    
body
    background-color: #0499f2
    background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%)
    min-height: 100vh
    
h1, h2, h3, h4, h5, h6, p, a, input, li, option
    color: var(--textColor)

.titlecard
    position: relative
    width: 100%
    min-height: 300px
    height: 80vh
    max-height: 1200px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: end
    overflow: hidden
    video
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        height: 150%
        z-index: 0
    *
        z-index: 1
    .logo
        width: calc( 150px + 8vw )
        height: calc( 150px + 8vw )
    .style-header
        font-size: calc( 22px + 6vw )
    p
        font-size: calc( 12px + 1vw )
        text-align: center
    .double-down
        width: 64px
        height: 64px
        filter: brightness(80%)
        transition: transform 0.3s ease-out, filter 0.1s ease, background 0.2s ease-out
        margin: 2rem 0
        pointer-events: all
        cursor: pointer
        border-radius: 32px
        padding: 0.7rem
        &:hover
            transform: scale(110%)
            filter: brightness(100%)
            background: rgba(255, 255, 180, 0.4)

.services
    position: relative
    width: 100%
    display: grid
    grid-template-areas: "a b c d e"
    align-items: center
    justify-content: space-around
    background: linear-gradient(0deg, rgba(33, 48, 42, 0.2), rgba(33, 48, 42, 0.2)), url('../img/bridge.jpg')
    background-size: cover
    .category
        position: relative
        width: 260px
        text-align: center
        img
            width: 100%
        a
            display: block
            color: #fff
            font-size: 42px
            border: 4px solid rgba(255, 255, 255, 0.3)
            border-radius: 20px
            margin-bottom: 20px
            text-decoration: none
            &:last-child
                margin-bottom: 0
            &:hover
                text-decoration: underline
    li
        border: 4px solid rgba(255, 255, 255, 0.3)
        border-radius: 20px

.reviews
    position: relative
    width: 100vw
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), linear-gradient(142.43deg, #8AE9B3 8.78%, #C8D6E5 63.24%)
    background-size: contain
    img
        width: 600px

.services-body
    position: relative
    width: 100vw
    .icon
        width: 138px
        height: 138px
    img
        max-height: 50%
    .category
        position: relative
        width: 100%
        &#nettisivut
            #a, #b, #c
                position: relative
                width: 100%
                height: $webServiceSlideHeight
            #a
                background-color: #285838
            #b
                background-color: #4C9B66
            #c
                display: flex
                flex-wrap: wrap
                justify-items: center
                align-items: center
                background-color: #35B25F
                text-align: center
                div
                    padding: 0 calc(7vw + 1vmin)
                h3
                    width: 100%
                    margin: auto

.add-to-cart
    position: relative
    display: flex
    width: 280px
    height: 100px
    align-items: center
    justify-content: center
    border-radius: 48px
    background-color: #285838
    border: none
    transition: transform 0.22s ease-in-out, background-color 0.08s ease
    &:hover
        transform: scale(108%)
    &:active
        background-color: #2F854C
    img
        margin-left: 10px
        height: 50%