<div class="footer">
    <div id="about">
        <img src="./img/logos/ikatyros.png" alt="Meidän logo">
        <h1 class="style-header" onclick="window.location = './index.php';">IKATYROS NY</h1>
        <h2>Multimediatalo</h2>
        <ul>
            <li><a href="./me.php">Tietoa Meistä</a></li>
            <li>Laskutus</li>
            <li>Tietosuojaseloste</li>
            <li>Kuvien Lähteet</li>
        </ul>
    </div>
    <div id="social">
        <h2>Seuraa meitä somessa</h2>
        <img src="./img/logos/youtube.png" alt="Youtube">
        <a href="https://www.youtube.com/channel/UCQ8oBl2RGfkpj6bkEgoJvcg" target="#">Ikatyros NY</a>
    
        <img src="./img/logos/instagram.png" alt="Instagram">
        <a href="https://www.instagram.com/ikatyros.ny/" target="#">ikatyros.ny</a>
        
        <img src="./img/logos/facebook.png" alt="Facebook">
        <a href="https://www.facebook.com/ikatyros.ny" target="#">ikatyros.ny</a>
    </div>
    <div id="contact">
        <div class="item">
            <img src="./img/email.png" alt="Sähköpostimme">
            <p>tiimi@ikatyros.com</p>
        </div>
        <div class="item">
            <img src="./img/phone.png" alt="Puhelinnumeromme">
            <p>040 3237023</p>
        </div>
        <div class="item">
            <img src="./img/location.png" alt="Sijaintimme">
            <p>50100 Mikkeli</p>
        </div>
        <div class="item">
            <img src="./img/logos/vuosi-yrittajana.png" alt="Olemme NY-yritys">
        </div>
    </div>
</div>