<nav class="nav">
    <div class="item" target="https://www.ikatyros.com/web">
        <img src="./img/logos/ikatyros.png" class="icon" alt="Meidän logo">
        <h1 class="style-header">IKATYROS NY</h1>
        <h3>Multimediatalo</h3>
        <ul>
            <li>Tietoa Meistä</li>
            <li>Tietosuojaseloste</li>
            <li>Kuvien Lähteet</li>
        </ul>
    </div>
    <div class="item">
        <img src="./img/website.png" class="icon" alt="Nettisivut">
        <h2>Omat Kotisivusi</h2>
        <h3>Ammattitekijälle</h3>
        <ul>
            <li>Ammattilaisen Porfolio</li>
            <li>Nettimyymälä</li>
            <li>Tapahtumasivut</li>
            <li>Sivumallit</li>
        </ul>
    </div>
    <div class="item">
        <img src="./img/drone.png" class="icon" alt="Dronekuvaus">
        <h2>Valo/Dronekuvaus</h2>
        <h3>Ikimuistoiselle hetkelle</h3>
        <ul>
            <li>Henkilökuvaus</li>
            <li>Tapahtumakuvaus</li>
            <li>Hääkuvaus</li>
            <li>Asuntokuvaus</li>
            <li>Huoltokuvaus</li>
            <li>Driftausvideot</li>
            <li>Synttärikuvaus</li>
        </ul>
    </div>
    <div class="item">
        <img src="./img/video-camera.png" class="icon" alt="Videoeditointi">
        <h2>Videoeditointi</h2>
        <h3>Näyttävälle kokonaisuudelle</h3>
        <ul>
            <li>Pelivideot</li>
            <li>Tutoriaalit</li>
            <li>Kollaasit</li>
            <li>Dokumentit</li>
        </ul>
    </div>
    <div class="item">
        <img src="./img/pc-repair.png" class="icon" alt="Atk-tuki">
        <h2>ATK-tuki</h2>
        <h3>Merkittävälle pulmalle</h3>
        <ul>
            <li>Peruspaketti</li>
            <li>Ongelman Huolto</li>
            <li>Kootut Neuvot</li>
            <li>PC-rakennus</li>
            <li>Valmis-PC:t</li>
        </ul>
    </div>
</nav>