<style>
    .res-maintained {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        text-align: center;
    }
    .res-maintained img {
        width: 20rem;
        height: 20rem;
        margin-bottom: 2rem;
    }
</style>
<div class="res-maintained">
    <img src="./img/mango/awkward.png" alt="Kiusallista">
    <h1>Sivustomme palvelut ovat tällä hetkellä rakennuksen alla. Tule takaisin myöhemmin. <br> Voit jättää viestisi <u>tiimi@ikatyros.com.</u></h1>
</div>