<style>
    .res {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        text-align: center;
    }
    .res img {
        width: 20rem;
        height: 20rem;
        margin-bottom: 2rem;
    }
</style>
<div class="res">
    <img src="./img/mango/awkward.png" alt="Kiusallista">
    <h1>Sivustomme ovat tällä hetkellä huollon alla. Tule takaisin myöhemmin.</h1>
    <h1>Voit jättää viestisi <u>tiimi@ikatyros.com</u></h1>
</div>