<div class="reviews">
    <div class="control" id="left">
        <img src="./img/left-arrow.png" alt="Avaa edellinen arvostelu">
    </div>
    <h1>Näin sanovat meidän asiakkaamme</h1>
    <section>
        <img src="./content/customers/jore-nakkinen/portrait.jpg" class="portrait" alt="Kasvokuva">
        <h2>Mikkelin Keilahalli</h2>
        <h3>Omat Nettisivut -palvelumme</h3>
        <p>“Ikatyros teki työt ihan hyvin. Ei tarvinnut itse huolehtia, kun pojat olivat hoitaneet kaiken puolestani. Suosittelisin heidän palveluita muillekin, jotka tarvitsevat nettisivuja!”</p>
        <h4>Jore Nakkinen</h4>
        <a href="https://www.hohtokeilailu.fi" target="#">Linkki sivustoille</a>
    </section>
    <section class="previews">
        <img src="./content/customers/jore-nakkinen/0.jpg" alt="">
        <img src="./content/customers/jore-nakkinen/1.jpg" alt="">
        <img src="./content/customers/jore-nakkinen/2.jpg" alt="">
        <img src="./content/customers/jore-nakkinen/3.jpg" alt="">
    </section>
    <div class="control" id="right">
        <img src="./img/right-arrow.png" alt="Avaa seuraava arvostelu">
    </div>
</div>