<div class="reviews">
    <p>Näin sanovat meidän asiakkaamme</p>
    <img src="./content/customers/jore-nakkinen/portrait.png" alt="Kasvokuva">
    <h1>Mikkelin Keilahalli</h1>
    <h2>Omat Nettisivut -palvelumme</h2>
    <p>“Ikatyros teki työt ihan hyvin. Ei tarvinnut itse huolehtia, kun pojat olivat hoitaneet kaiken puolestani. Suosittelisin heidän palveluita muillekin, jotka tarvitsevat nettisivuja!”</p>
    <h3>Jore Nakkinen</h3>
    <a href="https://www.hohtokeilailu.fi" target="#">Linkki sivustoille</a>

    <img src="./content/customers/jore-nakkinen/0.jpg" alt="">
    <img src="./content/customers/jore-nakkinen/1.jpg" alt="">
    <img src="./content/customers/jore-nakkinen/2.jpg" alt="">
    <img src="./content/customers/jore-nakkinen/3.jpg" alt="">
</div>