<div class="services-body">
    <section id="nettisivut">
        <div class="w-100 d-flex">
            <img src="./img/website.png" alt="">
            <h1>Omat Kotisivut</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/web-sample1.jpg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/web-sample2.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <h2 class="w-100 d-flex">
            Oli kyseessä normisivut, portfolio tai verkkokauppa, ovat vaiheet samat. Meidän kanssamme se on yhtä helppoa kuin 1, 2 ja 3!
        </h2>
        <div class="container">
            <div class="col-md-4">
                <h2>1. Yhteiskeskustelu</h2>
                <p>Tapaamme sinulle sopivassa paikassa tai etänä ja katsotaan, mitä sivusi tarvitsevat ja muut työjutut.</p>
            </div>
            <div class="col-md-4">
                <h2>1. Suunnitteluvaihe</h2>
                <p>Sopimuksen solmittua aloitamme  ensiluonnostelun ja tapaamme uudelleen muokattavia asioita varten.</p>
            </div>
            <div class="col-md-4">
                <h2>3. Testaus ja julkaisu</h2>
                <p>Saat käyttöösi testausversion, jossa pääset kokeilemaan, ja jonka jälkeen sivut julkaistaan ihan <i>for real.</i></p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
    <section id="henkilokuvaus">
        <div class="w-100 d-flex">
            <img src="./img/photo-camera.png" alt="">
            <h1>Henkilökuvaus</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
    <section id="tapahtumakuvaus">
        <div class="w-100 d-flex">
            <img src="./img/photo-camera.png" alt="">
            <h1>Tapahtumakuvaus</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
    <section id="synttarikuvaus">
        <div class="w-100 d-flex">
            <img src="./img/photo-camera.png" alt="">
            <h1>Synttärikuvaus</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
    <section id="haakuvaus">
        <div class="w-100 d-flex">
            <img src="./img/photo-camera.png" alt="">
            <h1>Hääkuvaus</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/camera-setup3.jpeg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
    <section id="ajoneuvokuvaus">
        <div class="w-100 d-flex">
            <img src="./img/drone.png" alt="">
            <h1>Ajoneuvokuvaus</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/cool-drift.jpg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/cool-drift2.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/muscle-car.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
    <section id="rakennuskuvaus">
        <div class="w-100 d-flex">
            <img src="./img/drone.png" alt="">
            <h1>Rakennuskuvaus</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
    <section id="huoltokuvaus">
        <div class="w-100 d-flex">
            <img src="./img/drone.png" alt="">
            <h1>Huoltokuvaus</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
    <section id="editointi">
        <div class="w-100 d-flex">
            <img src="./img/editing.png" alt="Editointi">
            <h1>Kuva- ja videoeditointi</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/web-sample1.jpg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/web-sample2.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
    <section id="printing">
        <div class="w-100 d-flex">
            <img src="./img/editing.png" alt="Editointi">
            <h1>Printtaus</h1>
        </div>
        <h2 class="w-100">
            Voimme printata sinulle kuvatut materiaalit kanvaksena!
            Jos sinulla on muuta printattavaa, voimme ottaa nekin printattavaksi mukaan!
        </h2>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>

    <section id="atk">
        <div class="w-100 d-flex">
            <img src="./img/pc-repair.png" alt="ATK-tuki">
            <h1>ATK-tuki</h1>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Jokainen ammatilaisen näkee ammattimaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/stock/fashion-man.jpg" alt="">
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
            </div>
        </div>
        <button class="add-to-cart">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </section>
</div>