<div class="services-body">
    <div class="category" id="nettisivut">
        <ul class="slider">
            <li id="a">
                <div class="w-100 d-flex">
                    <img src="./img/website.png" class="icon" alt="Kotisivut" style="margin: auto 2rem;">
                    <h1 style="margin: auto 2rem;">Omat Kotisivut</h1>
                </div>
                <p>Jokainen ammatilainen näkee toisen ammattilaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
                <img src="./img/stock/fashion-man-person-874242.jpg" alt="Yrittäjän valinta"> 
            </li>
            <li id="b">
                <div class="viewframe" id="desktop">
                    <div class="content">
                        <img src="./img/design-keilahalli/sample1.jpg" alt="">
                        <img src="./img/design-keilahalli/sample1.jpg" alt="">
                        <img src="./img/design-keilahalli/sample1.jpg" alt="">
                    </div>
                </div>
                <div class="viewframe" id="mobile">
                    <div class="content">
                        <img src="./img/design-keilahalli/sample2.png" alt="">
                        <img src="./img/design-keilahalli/sample2.png" alt="">
                        <img src="./img/design-keilahalli/sample2.png" alt="">
                        <img src="./img/design-keilahalli/sample2.png" alt="">
                        <img src="./img/design-keilahalli/sample2.png" alt="">
                        <img src="./img/design-keilahalli/sample2.png" alt="">
                    </div>
                </div>
                <div class="cloud9-carousel" id="car_1">
                    <div class="cloud9-item">
                        <img src="./img/logos/mikkelin-keilahalli.png" alt="Mikkelin Keilahallin logo">
                        <h2>Mikkelin Keilahalli</h2>
                    </div>
                    <div class="cloud9-item">
                        <img src="./img/logos/mikkelin-keilahalli.png" alt="Mikkelin Keilahallin logo">
                        <h2>Elovire</h2>
                    </div>
                    <div class="cloud9-item">
                        <img src="./img/logos/mikkelin-keilahalli.png" alt="Mikkelin Keilahallin logo">
                        <h2>Henna Parkkinen</h2>
                    </div>
                </div>
                <div id="buttons">
                    <button class="left"><--</button>
                    <button class="right">--></button>
                </div>
                <a href="#" target="#">Sivun linkki</a>
                <a href="#" target="#">Lue sivun tarina</a>
                <a href="#" target="#">Asiakkaan arvio</a>
            </li>
            <li id="c">
                <h3>Oli kyseessä normisivut, portfolio tai verkkokauppa, ovat vaiheet samat. Meidän kanssamme se on yhtä helppoa kuin 1, 2 ja 3!</h3>
                <div class="col-md-4">
                    <h2>1. Yhteiskeskustelu</h2>
                    <p>Tapaamme sinulle sopivassa paikassa tai etänä ja katsotaan, mitä sivusi tarvitsevat ja muut työjutut.</p>
                </div>
                <div class="col-md-4">
                    <h2>2. Suunnitteluvaihe</h2>
                    <p>Sopimuksen solmittua aloitamme  ensiluonnostelun ja tapaamme uudelleen muokattavia asioita varten.</p>
                </div>
                <div class="col-md-4">
                    <h2>3. Testaus ja julkaisu</h2>
                    <p>Saat käyttöösi testausversion, jossa pääset kokeilemaan, ja jonka jälkeen sivut julkaistaan ihan <i>for real.</i></p>
                </div>
                <a href="https://www.zoner.fi/domain/hyva-verkkotunnus/" target="#">Tässä kuinka valita hyvä verkkotunnus</a>
                <button class="add-to-cart" id="sivut">
                    <span>Lisää palvelu kärryyn</span>
                    <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
                </button>
            </li>
        </ul>
        <button id="slider_left"><--</button>
        <button id="slider_right">--></button>
    </div>
    <div class="category" id="dronekuvaus">
        <div class="top">
            <img src="./img/drone.png" class="icon" alt="Dronekuvaus">
            <h1>Kamerakuvaus ja Dronekuvaus</h1>
        </div>
        <section>
            <ul>
                <button class="list-button">Henkilö</button>
                <button class="list-button">Tapahtuma</button>
                <button class="list-button">Häät</button>
                <button class="list-button">Synttärit</button>
            </ul>
            <div class="cloud9-carousel" id="car_2">
                <div class="cloud9-item">
                    <img src="./img/stock/elvis-kuvaa.jpg" alt="">
                    <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
                </div>
                <div class="cloud9-item">
                    <img src="./img/stock/elvis-kuvaa.jpg" alt="">
                    <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
                </div>
                <div class="cloud9-item">
                    <img src="./img/stock/elvis-kuvaa.jpg" alt="">
                    <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
                </div>
            </div>
            <button class="add-to-cart" id="henkilökuvaus">
                <span>Lisää palvelu kärryyn</span>
                <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
            </button>
        </section>
        <section>
            <ul>
                <button class="list-button">Ajoneuvo</button>
                <button class="list-button">Driftaus</button>
            </ul>
            <div class="cloud9-carousel" id="car_3">
                <div class="cloud9-item">
                    <img src="./img/stock/cool-drift.jpg" alt="">
                    <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
                </div>
                <div class="cloud9-item">
                    <img src="./img/stock/cool-drift2.jpg" alt="">
                    <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
                </div>
                <div class="cloud9-item">
                    <img src="./img/stock/muscle-car.jpg" alt="">
                    <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
                </div>
            </div>
            <button class="add-to-cart" id="ajoneuvokuvaus">
                <span>Lisää palvelu kärryyn</span>
                <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
            </button>
        </section>
        <section>
            <ul>
                <button class="list-button">Rakennus</button>
                <button class="list-button">Huolto</button>
            </ul>
            <div class="cloud9-carousel" id="car_4">
                <div class="cloud9-item">
                    <img src="./img/stock/pro-drone.jpg" alt="">
                    <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
                </div>
                <div class="cloud9-item">
                    <img src="./img/stock/pro-drone2.jpg" alt="">
                    <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
                </div>
                <div class="cloud9-item">
                    <img src="./img/stock/pro-drone.jpg" alt="">
                    <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
                </div>
            </div>
            <button class="add-to-cart" id="kuvaus">
                <span>Lisää palvelu kärryyn</span>
                <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
            </button>
        </section>
    </div>
    <div class="category" id="editointi">
        <img src="./img/editing.png" class="icon" alt="Editointi">
        <h1>Editointi</h1>
        <p>Yhdistämällä kuvauspalvelumme saat hyvää jälkeä. Olitpa toteuttamassa dokumenttia, tapahtumallesi traileria tai tutoriaalia yrityksellesi, voimme myös kuvata ja editoida ne! </p>
        <button class="add-to-cart">
            <span>Ota mukaan</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </div>
    <div class="category" id="atk-tuki">
        <img src="./img/pc-repair.png" class="icon" alt="ATK-tuki">
        <h1>ATK-tuki</h1>
        <img src="./img/stock/influencer-headache.jpg" alt="">
        <p>Autamme laitteesi teknisten ongelmien kanssa mielellämme. Korjaamme, päivitämme ja parannamme laitteesi uuteen uskoon. Olemme koonneet listan yleisistä ongelmista.</p>
        <img src="./img/stock/youtuber-2838945.jpg" alt="">
        <button class="add-to-cart" id="atk">
            <span>Lisää palvelu kärryyn</span>
            <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
        </button>
    </div>
</div>
<script type="text/javascript">
    // website viewport scrolling
    $('.viewframe').each(function(x, frame) {
        var hover = false;
        $(document).scroll(function(e) {
            if (!hover)  return;
            e.preventDefault();
            $(frame).each(function(y, img) {
                $(img).css({ marginTop: `{100 * y}px` });
            });
        });
        $(frame).on('mouseenter',function () {
            hover = true;
        });
        $(frame).on('mouseleave',function () {
            hover = false;
        });
    });

    function setCloud9Carousels() {
        // website previews
        $(".cloud9-carousel#car_1").Cloud9Carousel({
            buttonLeft: $("#buttons > .left"),
            buttonRight: $("#buttons > .right"),
            autoPlay: 0,
            bringToFront: true,
            onLoaded: function() {
                
            }
        });
        // dronekuvaus previews
        $(".cloud9-carousel#car_2").Cloud9Carousel({
            buttonLeft: $("#buttons > .left"),
            buttonRight: $("#buttons > .right"),
            autoPlay: 0,
            bringToFront: true,
            onLoaded: function() {
                
            }
        });
        // kamerakuvaus previews
        $(".cloud9-carousel#car_3").Cloud9Carousel({
            buttonLeft: $("#buttons > .left"),
            buttonRight: $("#buttons > .right"),
            autoPlay: 0,
            bringToFront: true,
            onLoaded: function() {
                
            }
        });
        // huoltokuvaus previews
        $(".cloud9-carousel#car_4").Cloud9Carousel({
            buttonLeft: $("#buttons > .left"),
            buttonRight: $("#buttons > .right"),
            autoPlay: 0,
            bringToFront: true,
            onLoaded: function() {
                
            }
        });
    }
    setCloud9Carousels();
    // website category slider
    function setSlider(slider) {
        const ul = $(slider);
        var slides = $(ul).children();
        var count = slides.length;
        var width = $(ul).find('li').width();
        var height = $(ul).find('li').height();
        var cSlide = -1;
        var transitioning = false;
        
        function resize() {
            slides = $(ul).find('li');
            count = slides.length;
            width = $(window).width();
            height = $(slides).height();
            $(slides).each(function (i, l) {
                $(l).css({ 'width': `${100 / count}%` });
            });
            $(ul).css({ 'width': count * width, 'margin-left': - width });
        }
        resize();

        function rotate(right) {
            if (right) {
                // $(ul).css({ 'width': count * width, 'margin-left': - width });
                $(ul).find('li:last-child').prependTo($(ul));
            } else {
                // $(ul).css({ 'width': count * width, 'margin-left': + width });
                $(ul).find('li:first-child').prependTo($(ul));
            }
        }

        $('#slider_left').click(function () {
            rotate(false);
        }); 
        $('#slider_right').click(function () {
            rotate(true);
        });
        
        $(window).on('resize', function() {
            resize();
        });
    }
    setSlider($('.slider'));
    $(window).on('resize', function() {
        setCloud9Carousels();
    });
</script>