<div class="services-body">
    <div class="category" id="nettisivut">
        <ul class="slider">
            <li id="a">
                <div class="w-100 d-flex">
                    <img src="./img/website.png" class="icon" alt="Kotisivut" style="margin: auto 2rem;">
                    <h1 style="margin: auto 2rem;">Omat Kotisivut</h1>
                </div>
                <p>Jokainen ammatilainen näkee toisen ammattilaisen portfolion kautta. Nosta taitojesi esirippu ylös ja päästä taitosi valloilleen!</p>
                <p>Keskitymme sivuissa tyyliin ja helppokäyttöisyyteen. Jos sinulla on jo valmis idea tai suunnitelmapohja niin hommat on jo puoliksi tehty meidän osaltamme.</p>
                <p>Nettisivujen kanssa voi päästää mielikuvituksen laukkaamaan täysin vapaasti - Vain taivas on rajana (paitsi jos sinulla sattuu olemaan drone).</p>
                <img src="./img/stock/fashion-man-person-874242.jpg" alt="Yrittäjän valinta"> 
            </li>
            <li id="b">
                <img src="./img/design-keilahalli/index-card.jpg" alt="">
                <div id="cloud9-carousel" style="height: 300px; width: 40%;">
                    <div class="cloud9-item">
                        <img src="./img/logos/mikkelin-keilahalli.png" alt="Mikkelin Keilahallin logo">
                        <h2>Mikkelin Keilahalli</h2>
                    </div>
                    <div class="cloud9-item">
                        <img src="./img/logos/mikkelin-keilahalli.png" alt="Mikkelin Keilahallin logo">
                        <h2>Elovire</h2>
                    </div>
                    <div class="cloud9-item">
                        <img src="./img/logos/mikkelin-keilahalli.png" alt="Mikkelin Keilahallin logo">
                        <h2>Henna Parkkinen</h2>
                    </div>
                </div>
                <div id="buttons">
                    <button class="left">
                        ←
                    </button>
                    <button class="right">
                        →
                    </button>
                </div>
                <a href="#" target="#">Sivun linkki</a>
                <a href="#" target="#">Lue sivun tarina</a>
                <a href="#" target="#">Asiakkaan arvio</a>
            </li>
            <li id="c">
                <h3>Oli kyseessä normisivut, portfolio tai verkkokauppa, ovat vaiheet samat. Meidän kanssamme se on yhtä helppoa kuin 1, 2 ja 3!</h3>
                <div class="col-md-4">
                    <h2>1. Yhteiskeskustelu</h2>
                    <p>Tapaamme sinulle sopivassa paikassa tai etänä ja katsotaan, mitä sivusi tarvitsevat ja muut työjutut.</p>
                </div>
                <div class="col-md-4">
                    <h2>2. Suunnitteluvaihe</h2>
                    <p>Sopimuksen solmittua aloitamme  ensiluonnostelun ja tapaamme uudelleen muokattavia asioita varten.</p>
                </div>
                <div class="col-md-4">
                    <h2>3. Testaus ja julkaisu</h2>
                    <p>Saat käyttöösi testausversion, jossa pääset kokeilemaan, ja jonka jälkeen sivut julkaistaan ihan <i>for real.</i></p>
                </div>
                <a href="https://www.zoner.fi/domain/hyva-verkkotunnus/" target="#">Tässä kuinka valita hyvä verkkotunnus</a>
                <button class="add-to-cart">
                    <span>Lisää palvelu kärryyn</span>
                    <img src="./img/cart.png" alt="Lisää palvelu ostoskärryyn">
                </button>
            </li>
        </ul>
    </div>
    <div class="category" id="dronekuvaus">
        <img src="./img/drone.png" class="icon" alt="Dronekuvaus">
        <h1>Dronekuvaus</h1>
        <p>Upeat näyt yläilmoista antavat loistavan vaikutuksen sosiaalisessa mediassa, kun haluat erottua. Saat helposti myytävän asunnon.</p>
    </div>
    <div class="category" id="kamerakuvaus">
        <img src="./img/photo-camera.png" class="icon" alt="Kamerakuvaus">
        <h1>Kamerakuvaus</h1>
        <p></p>
    </div>
    <div class="category" id="editointi">
        <img src="./img/editing.png" class="icon" alt="Editointi">
        <h1>Editointi</h1>
        <p>Olitpa toteuttamassa dokumenttia, tapahtumallesi traileria tai tutoriaalia yrityksellesi, voimme kuvata ja editoida ne! Yhdistämällä kuvauspalvelumme saat hyvää jälkeä.</p>
    </div>
    <div class="category" id="atk-tuki">
        <img src="./img/pc-repair.png" class="icon" alt="ATK-tuki">
        <h1>ATK-tuki</h1>
        <p>Laitteesi teknisten ongelmien kanssa autamme tarvittaessa. Korjaamme, päivitämme ja parannamme laitteesi uuteen uskoon.</p>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        const slider = $('.slider');
        const sliderUl = $(slider).find('ul');
        var sliderSlides = $(sliderUl).children();
        var slideCount = sliderSlides.length;
        var slideWidth = $(sliderUl).find('li').width();
        var slideHeight = $(sliderUl).find('li').height();
        var currentSlide = -1;
        var isTransitioning = false;
        function setSlider() {
            sliderSlides = $(sliderUl).find("li");
            slideCount = sliderSlides.length;
            slideWidth = $(sliderSlides).width();
            slideHeight = $(sliderSlides).height();
            $(sliderUl).css({ "width": slideCount * slideWidth, "margin-left": - slideWidth });
            $(sliderUl).find("li:last-child").prependTo($(sliderUl));
        }
        setSlider();
    });
</script>