<div class="services">
    <div class="category" id="nettisivut">
        <div class="header">
            <img src="./img/website.png" alt="Nettisivut">
        </div>
        <a href="#">Porfolio</a>
        <a href="#">Tapahtuma</a>
        <a href="#">Myymälä</a>
    </div>
    <div class="category" id="dronekuvaus">
        <div class="header">
            <img src="./img/drone.png" alt="Dronekuvaus">
        </div>
        <a href="#">Rakennus</a>
        <a href="#">Tapahtuma</a>
        <a href="#">Huolto</a>
        <a href="#">Driftaus</a>
    </div>
    <div class="category" id="c">
        <a href="#">Editointi</a>
        <a href="#">Printtaus</a>
    </div>
    <div class="category" id="valokuvaus">
        <div class="header">
            <img src="./img/photo-camera.png" alt="Valokuvaus">
        </div>
        <a href="#">Henkilö</a>
        <a href="#">Häät</a>
        <a href="#">Synttärit</a>
        <a href="#">Auto</a>
    </div>
    <div class="category" id="atk-tuki">
        <div class="header">
            <img src="./img/pc-repair.png" alt="Atk-tuki">
        </div>
        <a href="#">IT-pulma</a>
        <a href="#">Pulmalista</a>
        <a href="#">Myymälä</a>
    </div>
    <p>Lisäämäsi palvelut ovat näkyvissä kärryssä.</p>
</div>